.p1 {
  border: 1px dotted black;
}
.p2 {
  border: 1px dashed black;
}
.p3 {
  border: 1px solid black;
}
.p4 {
  border: 1px double black;
}
.p5 {
  border: 1px groove black;
}
.p6 {
  border: 1px ridge black;
}
.p7 {
  border: 1px inset black;
}
.p8 {
  border: 1px outset black;
}
